body {
    background-color: #dde8fc;
    font-family: "Caveat Brush", sans-serif;
}

.navbar-custom {
    background-color: #340143;
}

.form-control {
    border-color: #340143;
}

.input-group-text {
    border-color: #340143;
}

.card-img-top {
    height: 250px;
    width: auto;
}

.navbar-brand {
    text-decoration: underline;
}